<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>商品信息: {{ tx.comments }}</h2>
<h2>金额: {{ tx.amount }}</h2>
<p>
    <h1>请选择支付方式：</h1>
    <ul>
        <li><a href="{{ root_url + url_for('biz_entry.pay', sn=tx.sn, vas_name=vas.TEST_PAY) }}">test_pay</a></li>
        <li><a href="{{ root_url + url_for('biz_entry.pay', sn=tx.sn, vas_name=vas.ZYT) }}">ZYT</a></li>
        <li><a href="{{ root_url + url_for('biz_entry.pay', sn=tx.sn, vas_name=vas.LIANLIAN_PAY) }}">连连支付</a></li>
        <li><a href="{{ root_url + url_for('biz_entry.pay', sn=tx.sn, vas_name=vas.WEIXIN_PAY) }}">微信支付</a></li>
        <li><a href="{{ root_url + url_for('biz_entry.pay', sn=tx.sn, vas_name=vas.ALI_PAY) }}">支付宝</a></li>
    </ul>
</p>
</body>
</html>