<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            font-size: 120%;
            text-align: center;
        }
    </style>
</head>
<body>
<h2>商品信息</h2>
<p>{{ tx.comments }}</p>
{% if tx.order_id %}
<p>{{ tx.order_id }}</p>
{% endif %}
<h2>金额: {{ tx.amount }}</h2>
<p>
    <h1>请选择支付方式</h1>
        {% for vas_name in vases %}
            {# TODO: 重新设计此页面 #}
            <p><a href="{{ root_url + url_for('biz_entry.pay', source=source, sn=tx.sn, vas_name=vas_name) }}">{{ vas_name }}</a></p>
        {% endfor %}
</p>
</body>
</html>