{% extends "frontpage/layout.html" %}
{% block title %}自游通欢迎页{% endblock %}
{% block content %}
<div class="banner">
	<div class="banner_center">
    	<img src="{{ url_for('static', filename='images/frontpage/bc_c1.jpg') }}" width="1200" height="641" />
        <img src="{{ url_for('static', filename='images/frontpage/bc_c2.jpg') }}" width="1200" height="353"/>
        <a href="###" target="_blank" title=""></a>
        <span class="mouse-down "></span>
        <div class="computer bounceIn">
        	<img src="{{ url_for('static', filename='images/frontpage/computerImg.png') }}" width="746" height="445"/>
        </div>
        <p>绿野自游通（在线支付）</p>
    </div>
</div>

<div class="tabox">
    <div class="section block1" style="background-position: 50% 0px;">
    	<p class="introtit"></p>
    </div>
    <div class="section giveus">
    	<div class="fpoint">
        	<img src="{{ url_for('static', filename='images/frontpage/function_point.jpg') }}" />
        </div>
    </div>

	<div class="section block2" style="background-position: 50% 0px;">
    	<div class="blockTit blk2"></div>
    </div>
    <div class="section quickly">
    	<!--<h2>便捷的在线支付功能</h2>-->
    	<div class="cardzf">
        	<img src="{{ url_for('static', filename='images/frontpage/cardImg.jpg') }}">
        </div>
    </div>
    
    <div class="section block3" style="background-position: 50% 0px;">
    	<div class="blockTit blk3"></div>
    </div>
	<div class="section quickly">
    	<!--<h2>方便高效的提现功能</h2>-->
    	<div class="cardzf">
        	<img src="{{ url_for('static', filename='images/frontpage/tixianImg.jpg') }}">
        </div>
    </div>
    
    <div class="section block4" style="background-position: 50% 0px;">
    	<div class="blockTit blk4"></div>
    </div>
    <div class="section quickly">
    	<!--<h2 class="xianshi">稳定易用的操作界面</h2>-->
    	<div class="interFace">
        	<img src="{{ url_for('static', filename='images/frontpage/Interface.png') }}">
        </div>
        <p>收支明细展示更清晰    支持绑定提现银行卡</p>
    </div>
    
</div>

<div id="leader-application" class="join">
	<div class="join_center">
    	<img src="{{ url_for('static', filename='images/frontpage/join_c1.jpg') }}" width="1200" height="496" >
        <img src="{{ url_for('static', filename='images/frontpage/join_c2.jpg') }}" width="1200" height="417" >
        <a href="javascript:void(0)" target="_blank" title=""></a>
        <p>注意事项：<br>备案领队可在此申请试用新版自游通，申请提交后，<br>客服会与您沟通相关事项，并在开通新版自游通后通知您。</p>
    </div>
</div>

<!--S遮罩层-->
<div class="bgLayer"></div>
<!--E遮罩层-->
<div class="confirm">
	<h2>申请说明</h2>
    <div class="confirm_cont">
    	<p>1、新版自游通在业务流程上做了很多简化，进而在提现、退款等环节大大提高了工作效率。目前新版自游通提现到账已缩短至1~3个工作日;</p>
        <p>2、无缝对接现有的活动平台。领队开通新版自游通后，所有新发布的活动，用户在付款时都会进入新版自游通的快捷支付。快捷支付简化了支付流程：首次支付时输入相关银行卡信息进行绑定，之后仅需要选择绑定的银行卡并输入手机验证码即可，大大提高了支付效率及可靠性;</p>
        <p>3、新版自游通上线后，旧版自游通还将运行一段时间，在并行期间两个系统之间的信息不共享。新版开通之前所有的交易记录可在旧版自游通中查看，建议您一旦开通新版后，尽快使用“提现”功能将旧版自游通里的余额提走;</p>
        <p>4、后续将要发布的全新“绿野活动APP-领队版”将支持新版自游通，届时领队可以在手机上查看财务相关交易记录，进行退款处理、提现等操作。</p>
    </div>
    <div class="confirm_btn">
    	<a href="{{ url_for('frontpage.application') }}" target="_self">申请试用</a>
    </div>
    <a href="javascript:void(0)" class="close"></a>
</div>
{% endblock %}
