{% extends "frontpage/layout.html" %}
{% block title %}新版自游通{% endblock %}
{% block content %}
<div class="banner">
	<div class="banner_center">
    	<img src="{{ url_for('static', filename='images/frontpage/bc_c1.jpg') }}" width="1200" height="641" />
        <img src="{{ url_for('static', filename='images/frontpage/bc_c2.jpg') }}" width="1200" height="353"/>
        <a href="###" target="_blank" title=""></a>
        <span class="mouse-down "></span>
        <div class="computer bounceIn">
        	<img src="{{ url_for('static', filename='images/frontpage/computerImg.png') }}" width="746" height="445"/>
        </div>
        <p>绿野自游通（在线支付）</p>
    </div>
</div>

<div class="tabox">
    <div class="section block1" style="background-position: 50% 0px;">
    	<p class="introtit"></p>
    </div>
    <div class="section giveus">
    	<div class="fpoint">
        	<img src="{{ url_for('static', filename='images/frontpage/function_point.jpg') }}" />
        </div>
    </div>

	<div class="section block2" style="background-position: 50% 0px;">
    	<div class="blockTit blk2"></div>
    </div>
    <div class="section quickly">
    	<!--<h2>便捷的在线支付功能</h2>-->
    	<div class="cardzf">
        	<img src="{{ url_for('static', filename='images/frontpage/cardImg.jpg') }}">
        </div>
    </div>
    
    <div class="section block3" style="background-position: 50% 0px;">
    	<div class="blockTit blk3"></div>
    </div>
	<div class="section quickly">
    	<!--<h2>方便高效的提现功能</h2>-->
    	<div class="cardzf">
        	<img src="{{ url_for('static', filename='images/frontpage/tixianImg.jpg') }}">
        </div>
    </div>
    
    <div class="section block4" style="background-position: 50% 0px;">
    	<div class="blockTit blk4"></div>
    </div>
    <div class="section quickly">
    	<!--<h2 class="xianshi">稳定易用的操作界面</h2>-->
    	<div class="interFace">
        	<img src="{{ url_for('static', filename='images/frontpage/Interface.png') }}">
        </div>
        <p>收支明细展示更清晰    支持绑定提现银行卡</p>
    </div>
    
</div>

<div id="leader-application" class="join">
	<div class="join_center">
    	<img src="{{ url_for('static', filename='images/frontpage/join_c1.jpg') }}" width="1200" height="496" >
        <img src="{{ url_for('static', filename='images/frontpage/join_c2.jpg') }}" width="1200" height="417" >
    </div>
</div>
{% endblock %}
