.mainCont .payoffRight h2.first {
    margin-left: 48px;
}

.mainCont .payoffRight h2.withdraw {
    margin-left: 10px;
}

.line > .txk.city {
    margin-left: 16px;
}

.bankIcon {
    width: 50px;
    height: 50px;
}