.line > .txk.city {
    margin-left: 16px;
}

.bankIcon {
    width: 50px;
    height: 50px;
}

.contRight .message-container {
    text-align: center;
    font-size: 1.5em;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert a {
    color: inherit;
}

.alert a:hover {
    text-decoration: underline;
}

.alert .close {
    float: right;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}