{% extends 'layout.html' %}
{% block title %}绑卡成功{% endblock %}

{% block inline_scripts %}
{% endblock %}
{% block content %}
    <div class="contRight bdcard">
        <h2><em></em><br>绑卡成功！</h2>

        <p class="informs">姓名：<span>李**多</span>卡号：<span>1234 **** **** 7890</span>开户行：<span>中国工商很行</span></p>

        <p class="ts1">进行提现时，将自动打款到该账户。<br>暂不支持解除绑定，如需解除绑定，请联系绿野客服。</p>

        <p class="pa">
            <span>
                <em></em>400-000-1234
            </span>
            <span>
                <em class="phone"></em>1234567890
            </span>
        </p>

        <p class="gotx"><a href="{{ url_for('.withdraw') }}">去提现</a></p>
    </div>
{% endblock %}