{% extends 'layout.html' %}
{% block title %}支票{% endblock %}

{% block content %}
    <div class="contRight payoffRight firstRight">
        {% include 'message.html' %}
        <div>
            <h2 class="first">账户信息</h2>
            <div class="line firstline margin48">
                <label class="widthauto">可用余额</label>
                <span id="available_balance" class="money">{{ available_balance }}</span>&nbsp;元
            </div>
        </div>

        <div id="tx_list" data-api-url="{{ url_for('main.list_transactions') }}">
            <div class="tabtit margin48 clearfix">
                <ul id="cheque_tabs">
                    <li id="draw_cheque" class="{{ 'cur' if g.current_cheque_tab == 'draw' else '' }}">
                        <a href="{{ url_for('cheque.draw') }}">开支票</a>
                    </li>
                    <li id="cash_cheque" class="{{ 'cur' if g.current_cheque_tab == 'cash' else '' }}">
                        <a href="{{ url_for('cheque.cash') }}">兑现支票</a>
                    </li>
                    <li id="list_cheque" class="{{ 'cur' if g.current_cheque_tab == 'list_cheques' else '' }}">
                        <a href="{{ url_for('cheque.list_cheques') }}">支票列表</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tablock margin48 tablockcur">
            {% block cheque_content %}
                <h1>{{ g.current_cheque_tab }}</h1>
            {% endblock %}
        </div>
  </div>
{% endblock %}

