[deploy]
prod.host=a@b.com
prod.code_dir=path_to_code_dir
dev.code.dir=

[database]
username=lvye_pay
password=p@55word
host=localhost
port=3306
instance=lvye_pay

[admin]
username=
password=

[email]
sp_address=
sp_port=
username=
password=
api_key=
sender_address=

[app]
hash_salt=
casher_id=
accountant_id=
email_sender=
prod=
