<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Pay sample</h2>
channel: {{ channel }}<br/>
payer: {{ payer_user_name }}({{ payer }}), 全部: {{ payer_balance.total }}, 可用: {{ payer_balance.available }}, 冻结: {{ payer_balance.frozen }}<br/>
payee: {{ payee }}({{ payee }}), 全部: {{ payee_balance.total }}, 可用: {{ payee_balance.available }}, 冻结: {{ payee_balance.frozen }}
<hr/>
<form action="{{ url_for('sample.pay') }}" method="POST">
    <input type="text" name='memo' value="" placeholder="说明"/><br/>
    <input type="text" name='order_id' value="" placeholder="留空进行新支付"/>
    <input type="text" name='amount' value="0.01"/>
    支付给:
    <select name="payee">
        <option value="{{ payee }}">payee</option>
        <option value="{{ payer }}">payer</option>
    </select>
    other: <input type="text" name='other_payee' value=""/>
    payee_domain_name: <input type="text" name='payee_domain_name' value=""/>
    <select name="payment_type">
        <option value="DIRECT">直接到账</option>
        <option value="GUARANTEE">担保支付</option>
    </select>
    old:<input type="checkbox" name="use_old_pay" />
    <input type="submit" value="去支付"/>
</form>
<hr/>
<form action="{{ url_for('sample.pay_order') }}" method="POST">
    <input type="text" name='order_channel' value="" placeholder="order_channel"/>
    <input type="text" name='order_id' value="" placeholder="order_id"/>
    <input type="submit" value="去支付"/>
</form>
<hr/>
<form action="{{ url_for('sample.confirm_guarantee_payment') }}" method="POST">
    <input type="text" name='order_id' value="" placeholder="order id." size="36"/>
    <input type="submit" value="担保支付确认"/>
</form>
<hr/>
<form action="{{ url_for('sample.refund') }}" method="POST">
    <input type="text" name='amount' value="0.01"/>
    <input type="text" name='order_id' value="" placeholder="order id."/>
    <select name="suggest_result" title="suggest result for test.">
        <option value="">_</option>
        <option value="SUCCESS">成功</option>
        <option value="FAILED">失败</option>
        <option value="ERROR">错误</option>
    </select>
    <input type="submit" value="退款"/>
</form>
<hr/>
<form action="{{ url_for('sample.withdraw') }}" method="POST">
    bankcard_id: <input type="text" name='bankcard_id' value="{{ bankcards[0].id }}"/>
    <input type="text" name='amount' value="0.01"/>
    <select name="suggest_result" title="suggest result for test.">
        <option value="">_</option>
        <option value="SUCCESS">成功</option>
        <option value="FAILED">失败</option>
    </select>
    <input type="submit" value="提现"/>
</form>
<hr/>
<form action="{{ url_for('sample.prepaid') }}" method="POST">
    user_id:<input type="text" name='to_user_id' value=""/>
    domain_name:<input type="text" name='to_domain_name' value=""/>
    <input type="text" name='amount' value="1"/>
    |old<input type="checkbox" name="use_old_pay" />
    <input type="submit" value="充值"/>
</form>
<hr/>
{#支票#}
<form action="{{ url_for('sample.draw_cheque') }}" method="POST">
    <input type="text" name='amount' placeholder="amount"/>
    <input type="text" name='info' placeholder="info"/>
    valid: <input type="text" name='valid_seconds' value="300"/>
    <select name="cheque_type">
        <option value="INSTANT">即时冻结</option>
        <option value="LAZY">延迟扣款</option>
    </select>
    <input type="submit" value="写支票"/>
</form>
<form action="{{ url_for('sample.cash_cheque') }}" method="POST">
    <input type="text" name='user_id' placeholder="user_id"/>
    <input type="text" name='cash_token' placeholder="cash_token" size="32"/>
    <input type="submit" value="兑现支票"/>
</form>
<form action="{{ url_for('sample.cancel_cheque') }}" method="POST">
    <input type="text" name='sn' placeholder="sn" size="36"/>
    <input type="submit" value="取消支票"/>
</form>
<a href="{{ url_for('sample.list_cheque') }}">支票列表</a>
</body>
</html>