<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Pay sample</h2>
channel: {{ channel }}<br/>
payer: {{ payer }}<br/>
payee: {{ payee }}, 全部: {{ balance.total }}, 可用: {{ balance.available }}, 冻结: {{ balance.frozen }}
<hr/>
<form action="{{ url_for('sample.pay') }}" method="POST">
    <input type="text" name='order_id' value="" placeholder="留空进行新支付"/>
    <input type="text" name='amount' value="0.01"/>
    <select name="payment_type">
        <option value="DIRECT">直接到账</option>
        <option value="GUARANTEE">担保支付</option>
    </select>
    <input type="submit" value="去支付"/>
</form>
<hr/>
<form action="{{ url_for('sample.confirm_guarantee_payment') }}" method="POST">
    <input type="text" name='order_id' value="" placeholder="order id."/>
    <input type="submit" value="担保支付确认"/>
</form>
<hr/>
<form action="{{ url_for('sample.refund') }}" method="POST">
    <input type="text" name='amount' value="0.01"/>
    <input type="text" name='order_id' value="" placeholder="order id."/>
    <select name="suggest_result" title="suggest result for test.">
        <option value="">_</option>
        <option value="SUCCESS">成功</option>
        <option value="FAILED">失败</option>
    </select>
    <input type="submit" value="退款"/>
</form>
<hr/>
<form action="{{ url_for('sample.withdraw') }}" method="POST">
    bankcard_id: <input type="text" name='bankcard_id' value="{{ bankcards[0].id }}"/>
    <input type="text" name='amount' value="0.01"/>
    <select name="suggest_result" title="suggest result for test.">
        <option value="">_</option>
        <option value="SUCCESS">成功</option>
        <option value="FAILED">失败</option>
    </select>
    use_test_pay: <input type="checkbox" name="use_test_pay" value="1"/>
    <input type="submit" value="提现"/>
</form>
</body>
</html>