<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Pay sample</h2>
channel: {{ channel }}<br/>
payer: {{ payer }}<br/>
payee: {{ payee }}
<hr>
<form action="{{ url_for('sample.pay') }}" method="POST">
    <input type="text" name='amount' value="0.01"/>
    <select name="payment_type">
        <option value="DIRECT">直接到账</option>
        <option value="GUARANTEE">担保支付</option>
    </select>
    <input type="submit" value="去支付"/>
</form>
<hr>
<form action="{{ url_for('sample.confirm_guarantee_payment') }}" method="POST">
    <input type="text" name='order_id' value="" placeholder="order id."/>
    <input type="submit" value="担保支付确认"/>
</form>
<hr>
<form action="{{ url_for('sample.refund') }}" method="POST">
    <input type="text" name='amount' value="0.01"/>
    <input type="text" name='order_id' value="" placeholder="order id."/>
    <input type="submit" value="退款"/>
</form>
</body>
</html>