{% extends 'layout.html' %}
{% block title %}银行卡管理{% endblock %}

{% block css %}
    <link href="{{ url_for('static', filename='account/bankcard_management.css') }}" rel="stylesheet">
    <style type="text/css">
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}

{% block content %}
<h1>拥有银行卡</h1>

<ul class="bankcard-list">
    {% for bankcard in bankcards %}
    <li class="bankcard">{{ bankcard.card_no }}</li>
    {% endfor %}
    <li class="add-bankcard"><a href="#">添加银行卡</a></li>
</ul>
{% endblock %}