{% extends 'layout.html' %}
{% block title %}添加银行卡{% endblock %}

{% block css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}

{% block content %}
<h1>添加银行卡</h1>
<form action="/account/1/bankcards" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="bank_account_name" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
            <input class="form-control" id="bank_account_name" name="bank_account_name" placeholder="姓名" value="李四">
        </div>
    </div>
    <div class="form-group">
        <label for="card_no" class="col-sm-2 control-label">银行名称</label>
        <div class="col-sm-10">
            <input class="form-control" id="bank_name" name="bank_name" placeholder="银行名称" value="招商银行">
        </div>
    </div>
    <div class="form-group">
        <label for="card_no" class="col-sm-2 control-label">银行卡卡号</label>
        <div class="col-sm-10">
            <input class="form-control" id="card_no" name="card_no" placeholder="银行卡卡号" value="4391880506176641">
        </div>
    </div>
    <div class="form-group">
        <label for="card_no" class="col-sm-2 control-label">所属省份</label>
        <div class="controls controls-row col-sm-10">
            <input class="span5 uneditable-input" id="country" name="country" value="中国">
            <select class="span4" id="province" name="province" onchange="">
                <option value="2">北京</option>
                <option value="3">安徽</option>
                <option value="4">福建</option>
                <option value="5">甘肃</option>
                <option value="6">广东</option>
                <option value="7">广西</option>
                <option value="8">贵州</option>
                <option value="9">海南</option>
                <option value="10">河北</option>
                <option value="11">河南</option>
                <option value="12">黑龙江</option>
                <option value="13">湖北</option>
                <option value="14">湖南</option>
                <option value="15">吉林</option>
                <option value="16">江苏</option>
                <option value="17">江西</option>
                <option value="18">辽宁</option>
                <option value="19">内蒙古</option>
                <option value="20">宁夏</option>
                <option value="21">青海</option>
                <option value="22">山东</option>
                <option value="23">山西</option>
                <option value="24">陕西</option>
                <option value="25">上海</option>
                <option value="26">四川</option>
                <option value="27">天津</option>
                <option value="28">西藏</option>
                <option value="29">新疆</option>
                <option value="30">云南</option>
                <option value="31">浙江</option>
                <option value="32">重庆</option>
                <option value="33">香港</option>
                <option value="34">澳门</option>
                <option value="35">台湾</option>
            </select>
            <input class="span5" id="city" name="city">
        </div>
    </div>
    <div class="form-group">
        <label for="reserved_phone" class="col-sm-2 control-label">预留手机号</label>
        <div class="col-sm-10">
            <input class="form-control" id="reserved_phone" name="reserved_phone" placeholder="预留手机号" value="13716310086">
        </div>
    </div>

    <button class="btn btn-success btn-lg" type="submit">同意协议并确定</button>
</form>
{% endblock %}