<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} - 系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{{ url_for('static',filename='html5.js') }}"></script>
    <![endif]-->

    {% block js %}{% endblock %}
</head>
<body>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>