{% extends 'layout.html' %}
{% block title %}Say Hello{% endblock %}
{% block css %}
<style type="text/css">
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% endblock %}
{% block content %}
<div>
<div class="container">
    <div class="widget" style="width: 320px; margin: 0 auto">
        <div class="widget-header">
            <i class="icon-lock"></i>
            {{ widgets.show_current_year() }}
        </div>
        <div class="widget-content">
            <form action="/hello" method="post">
                {% if error %}
                <label id="error-message" class="alert fade in">{{ error or ''}}</label>
                {% endif %}

                {% if name %}
                <h3>Hello, {{ name }}</h3>
                {% else %}
                <label>Your name</label>
                <input type="text" name="name" value="{{name or ''}}">
                <button class="btn btn-primary" style="display: block">Greeting</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}