{% extends "checkout/layout_mobile.html" %}

{% block title %}绿野支付{% endblock %}

{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/showLoading.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.showLoading.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser_utils.js') }}"></script>
{% endblock %}

{% block body_start %}
    <img hidden="hidden" src="{{ url_for('static', filename='images/checkout/lvye_logo_360.png') }}">
{% endblock %}

{% block main %}
    <div class="pay-info">
        <h3>订单编号: <span>{{ info.order_id }}</span></h3>
        <h3>商品名称: <span>{{ info.name|truncate(24, True) }}</span></h3>
        <h3>订单金额: <span>{{ info.amount }}</span>元</h3>
        <hr>
    </div>
    {% for vas_name in vases %}
        {% set vas_info = vas_infos[vas_name] %}
        <div class="pay-list" id="{{ vas_name }}">
            <div class="pay-item-select">
                <input id="i_{{ vas_name }}" type="radio" value="{{ vas_name }}" {% if loop.first %}checked{% endif %} name="zf" class="onlychice">
            </div>
            <div class="pay-item">
                <img src="{{ url_for('static', filename='images/checkout/%s.png' % vas_name) }}" width="42" height="42" >
            </div>
            <div class="pay-content">
                <h2 class="pay-title">{{ vas_info.name }}</h2>
                <p class="pay-desc">
                    {{ vas_info.desc }}
                </p>
            </div>
        </div>
    {% endfor %}
    <button id="bt_pay_now" class="nowpay" value="{{ vases[0] }}">立即支付</button>
    <div class="pay_result_row"><span hidden=true id="pay_result" class="pay_result_before"></span></div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        {% if activated_vas %}
            var r = $('#i_{{ activated_vas }}')[0];
            r.click();
        {% endif %}

        /*选择支付方式*/
        $("div.pay-list").click(function(){
            var r = $('#i_' + this.id)[0];
            r.click();
        });

        function disable_pay_bt(msg) {
            var pay_result = $('#pay_result')[0];
            pay_result.setAttribute("class", "pay_result")
            pay_result.hidden = false;
            pay_result.innerText = msg;
            $('#bt_pay_now').off('click');
            $('#bt_pay_now').click(function(){
                alert(msg);
            });
        }

        $("#bt_pay_now").click(function(){
            var vas_name = $('input[type=radio][name=zf]:checked')[0].value;
            jQuery('body').showLoading({
                'afterShow': function() {
                    $.getJSON('{{ url_for('checkout_entry.pay_result', sn=sn) }}')
                            .done(function (data) {
                                var res = data.res;
                                if (res != 'CREATED') {
                                    jQuery('body').hideLoading();
                                }
                                if (res == 'DONE') {
                                    var msg = "已支付完成，请关闭该页面, 如果失败，请重新发起支付";
                                    disable_pay_bt(msg);
                                } else if (res == 'CREATED') {
                                    {#                                $(".payfinishLayer,.bgLayer").fadeIn();#}
                                    var url = "{{ CONFIG.HOST_URL + url_for('checkout_entry.pay', sn=sn, vas_name='') }}" + vas_name;
                                    navigateToUrl(url);
                                    if (is_safari) {
                                        jQuery('body').hideLoading();
                                    };
                                } else if (res == 'EXPIRED') {
                                    var msg = "本支付链接过期，请关闭页面，重新请求支付";
                                    alert(msg);
                                    disable_pay_bt(msg);
                                } else if (res == 'INVALID') {
                                    var msg = "交易号错误或者已失效，请关闭页面，请重新发起支付";
                                    alert(msg);
                                    disable_pay_bt(msg);
                                } else {
                                    alert("请求异常");
                                }
                            })
                            .fail(function () {
                                alert("请求异常");
                                jQuery('body').hideLoading();
                            });
                }});
        });
    })
</script>
{% endblock %}
