<html>
<body></body>
<script>
    function navigateToUrl(url) {
        var f = document.createElement("FORM");
        f.action = url;

        var indexQM = url.indexOf("?");
        if (indexQM>=0) {
            // the URL has parameters => convert them to hidden form inputs
            var params = url.substring(indexQM+1).split("&");
            for (var i=0; i<params.length; i++) {
                var keyValuePair = params[i].split("=");
                var input = document.createElement("INPUT");
                input.type="hidden";
                input.name  = keyValuePair[0];
                input.value = keyValuePair[1];
                f.appendChild(input);
            }
        }

        document.body.appendChild(f);
        f.submit();
    }

    var url = "{{ CONFIG.HOST_URL + url_for('checkout_entry.pay', sn=sn, vas_name=vases[0]) }}";
    navigateToUrl(url);
</script>
</html>
