{% extends "checkout/layout.html" %}

{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/showLoading.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.showLoading.js') }}"></script>
{% endblock %}

{% block title %}微信扫码支付{% endblock %}

{% block main %}
    <div class="wxpayTit clearfix">
        <div class="wxpayL">
            <h3>订单编号：<span>{{ info.order_id }}</span></h3>
            <h3>商品名称：<span>{{ info.name|truncate(45, True) }}</span></h3>
        </div>
        <div class="wxpayX">
            金额: <span>{{ info.amount }}</span>元
        </div>
    </div>
    <div class="wxCont">
        <h3><img style="display: inline;" src="{{ url_for('static', filename='images/checkout/wxpay_logo.png') }}" height="30" title="微信支付" alt="微信支付">微信支付
            <span hidden=true id="pay_result" class="pay_result"></span>
        </h3>
        <p class="ewm">
            <img src="{{ qrcode(code_url) }}" width="260" height="260" alt="二维码">
            <img src="{{ url_for('static', filename='images/checkout/wxpay_desc.png') }}" title="操作指示" alt="操作指示">
        </p>
        <img src="{{ url_for('static', filename='images/checkout/wxPay_guide.jpg') }}" width="381" height="417" alt="" >
    </div>
{% endblock %}


{% block scripts -%}
    <script>
        $(function(){
            var req_pay_result = setInterval(function(){
                $.getJSON('{{ url_for('checkout_entry.pay_result', sn=sn) }}')
                        .done(function (data) {
                            var res = data.res;
                            if (res == 'DONE') {
                                clearInterval(req_pay_result);

                                var msg = "已支付完成，请关闭该页面, 如果失败，请重新发起支付";
                                var pay_result = $('#pay_result')[0];
                                pay_result.hidden = false;
                                pay_result.innerText = msg;
                                // 回调通知
                                jQuery('body').showLoading({
                                    'afterShow': function() {
                                        setTimeout(function () {
                                            window.open('{{ url_for('checkout_entry.pay_callback', sn=sn) }}', '_self')
                                        }, 300);
                                }});
                            }
                        });
            }, 1500);
        })
    </script>
{%- endblock %}
