{% macro input(field, warning_message='') -%}
    <div class="line">
        <label>{{ field.label }}</label>
        {{ field(class="txk " + (' orangetxk' if field.errors | length > 0 else '')) }}
        <em class="warn">{{ warning_message }}</em>
        {% for error in field.errors %}
            <em class="mistake">{{ error }}</em>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro submit(field, id) -%}
    <div class="line">
        {{ field(class="tijiao firsttj", id=id) }}
    </div>
{%- endmacro %}

{% macro verification_code_and_submit(form) -%}
    <div class="line">
        <label>{{ form.verification_code.label }}</label>
        {{ form.verification_code(class="txk small" + (' orangetxk' if form.verification_code.errors | length > 0 else '')) }}
        {{ form.verification_code_source() }}
        {{ form.request_verification_code(value=form.request_verification_code.default, id="request_verification_code-"+form.verification_code_source.default) }}
        {{ form.data_verified() }}
        <input type="button" class="hqyzm" value="获取验证码" data-source="{{ form.verification_code_source.default }}"
               data-verified="{{ form.data_verified.data }}" data-api-url="{{ url_for('sms.send_verification_code') }}">
        <em class="verification-code warn"></em>
        {% for error in form.verification_code.errors %}
            <em class="mistake">{{ error }}</em>
        {% endfor %}
    </div>
    {{ submit(form.submit, "submit-"+form.verification_code_source.default) }}
{%- endmacro %}
