<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="csrf-token" content="{{ csrf_token() }}">
<title>{% block title %}{% endblock %}</title>

{% block css %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/showLoading.css') }}" rel="stylesheet">
    {% block inline_css %}
    {% endblock %}
{% endblock %}


<!--[if lt IE 9]>
<script src="{{ url_for('static',filename='js/html5.js') }}"></script>
<![endif]-->
<script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery/jquery.showLoading.js') }}"></script>
{% block js %}{% endblock %}

</head>

<body>


<header>
	<div class="hdCont clearfix">
    	<h1 class="logo">
			<a href="http://www.lvye.cn" target="_blank">
				<img src="{{ url_for('static', filename='images/logo_zyt.jpg') }}" class="pngfix" height="34" width="192" title="首页" alt="首页">
			</a>
		</h1>
        <ul class="newaLine clearfix">
        	<li><a href="http://leader.lvye.com/manage/list.jhtml" target="_blank">活动管理</a></li>
            <li><a href="http://leader.lvye.com/enter/entList.jhtml" target="_blank">报名管理</a></li>
            <li><a href="http://leader.lvye.com/lrfd/list.jhtml" target="_blank">退款管理</a></li>
            <li><a href="http://pay.lvye.cn/" target="_blank">旧版自游通</a></li>
        </ul>
        <div class="loginBtn clearfix">
            <div class="yh">
                {% if current_user.is_authenticated() %}
                    <span class="userName">当前用户：{{ current_user.user_name }}</span>
                    |<a class="logout" href="{{ url_for('auth.logout') }}">安全退出</a>
                {% endif %}
            </div>

        </div>
    </div>
</header>

<div class="main" id="main">
	<div class="mainCont clearfix">
    {% block main %}
        <div class="contLeft">
            <h2 class="padding20">自游通</h2>
            <ul class="listli">
                <li class="padding20 {{ 'cur' if g.current_channel == 'main' else '' }}">
                    <a href="{{ url_for('main.index') }}">我的自游通</a>
                </li>
                <li class="padding20 {{ 'cur' if g.current_channel == 'withdraw' else '' }}">
                    <a href="{{ url_for('withdraw.withdraw') }}">提现</a>
                </li>
                <li class="padding20 {{ 'cur' if g.current_channel == 'pay' else '' }}">
                    <a href="{{ url_for('pay.pay') }}">付款给绿野</a>
                </li>
            </ul>
        </div>
        {% block content %}{% endblock %}
    {% endblock %}
    </div>
</div>

{% block popup %}{% endblock %}

<footer>
	<div class="ftCont clearfix">
    	<ul class="cL">
        	<li><a href="http://www.lvye.cn/about/" target="_blank">关于我们</a></li>
            <li><a href="http://www.lvye.cn/about/contactUs.html" target="_blank">联系我们</a></li>
        </ul>
        <p class="cR">Copyright  1999-2015  <a href="http://www.lvye.com">www.lvye.com</a>  绿野户外网版权所有</p>
    </div>
</footer>



{% block scripts %}
    <script>
        $(function () {
            $(".loginBtn .sx").hover(function () {
                $(this).find("ul").stop().fadeIn();
            }, function () {
                $(this).find("ul").stop().fadeOut();
            });
            $(".loginBtn .yh").click(function () {
                $(this).find("ul").stop().fadeIn();
            });
            var csrftoken = $('meta[name=csrf-token]').attr('content');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
    {% block inline_scripts %}
    {% endblock %}
{% endblock %}

</body>
</html>
