<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            font-size: 120%;
            text-align: center;
        }
    </style>
</head>
{% if vases|length > 1 %}
<body>
    <h2>{{ request_client_type }}</h2>
    <h2>商品信息</h2>
    <p>{{ tx.comments }}</p>
    {% if tx.order_id %}
    <p>订单号：{{ tx.order_id }}</p>
    {% endif %}
    <h2>金额: {{ tx.amount }}</h2>
    <p>
        <h1>请选择支付方式</h1>
            {% for vas_name in vases %}
                {# TODO: 重新设计此页面 #}
                <p><a id="pay_{{ loop.index0 }}" href="{{ root_url + url_for('web_checkout_entry.pay', source=source, sn=sn, vas_name=vas_name) }}">{{ vas_name }}</a></p>
            {% endfor %}
    </p>
</body>
{% else %}
<body>
</body>
<script>
    function navigateToUrl(url) {
        var f = document.createElement("FORM");
        f.action = url;

        var indexQM = url.indexOf("?");
        if (indexQM>=0) {
            // the URL has parameters => convert them to hidden form inputs
            var params = url.substring(indexQM+1).split("&");
            for (var i=0; i<params.length; i++) {
                var keyValuePair = params[i].split("=");
                var input = document.createElement("INPUT");
                input.type="hidden";
                input.name  = keyValuePair[0];
                input.value = keyValuePair[1];
                f.appendChild(input);
            }
        }

        document.body.appendChild(f);
        f.submit();
    }

    var url = "{{ root_url + url_for('web_checkout_entry.pay', source=source, sn=sn, vas_name=vases[0]) }}";
    navigateToUrl(url);
</script>
{% endif %}
</html>