{% extends 'layout.html' %}
{% block title %}Say Hello{% endblock %}
{% block css %}
<style type="text/css">
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% endblock %}
{% block content %}
<h1>This is an entry for payment</h1>
<form action="/trade/pay" method="post" class="form-horizontal">
  <div class="form-group">
    <label for="source-channel" class="col-sm-2 control-label">Source channel</label>
      <div class="col-sm-10">
    <input class="form-control" id="source-channel" name="source_channel" placeholder="Source Channel Name" value="huodong.lvye.com">
  </div>
      </div>
  <div class="form-group">
    <label for="source-order-id" class="col-sm-2 control-label">Source order ID</label>
    <div class="col-sm-10">
        <input class="form-control" id="source-order-id" name="source_order_id" placeholder="Source Order ID" value="10202">
  </div>
    </div>
  <div class="form-group">
    <label for="source-order-id" class="col-sm-2 control-label">Source order name</label>
    <div class="col-sm-10">
        <input class="form-control" id="source-order-name" name="source_order_name" placeholder="Source Order Name" value="周末海陀露营">
  </div>

    </div>
  <div class="form-group">
    <label for="source-order-id" class="col-sm-2 control-label">Payer</label>
   <div class="col-sm-10">
       <input class="form-control" id="payer" name="payer" placeholder="Payer" value="刘凡">
  </div>˜
   </div>
  <div class="form-group">
    <label for="source-order-id" class="col-sm-2 control-label">Amount</label>
   <div class="col-sm-10">
       <input class="form-control" id="amount" name="amount" placeholder="Amount" value="100">
  </div>
   </div>
 <button class="btn btn-success btn-lg " type="submit">支付</button>
</form>
{% endblock %}