{% extends 'layout.html' %}
{% block title %}绑定银行卡{% endblock %}
{% block inline_css %}
    <link href="{{ url_for('static', filename='css/withdraw.css') }}" rel="stylesheet">
{% endblock %}
{% block inline_scripts %}
    <script src="{{ url_for('static', filename='js/identifying-code.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bind-card.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="contRight payoffRight firstRight">
        <div class="message-container">
            {% for message in get_flashed_messages(with_categories=True, category_filter=["success"]) %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] | safe }}
                </div>
            {% endfor %}
            {% for message in get_flashed_messages(with_categories=True, category_filter=["error"]) %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] | safe }}
                </div>
            {% endfor %}
        </div>
        <form class="bind-card" method="post" action="{{ url_for('.bind_card') }}">
            {{ form.csrf_token }}
            <h2 class="first">请绑定提现银行卡</h2>

            <p class="zhuyi padding20">
                1. 请仔细填写账户信息，如果由于您填写错误导致资金流失，绿野概不负责。<br>
                2. 只支持提现到银行借记卡，不支持信用卡和存折。提现审核周期为3个工作日。
            </p>

            <div class="line">
                <label>{{ form.card_number.label }}</label>
                {{ form.card_number(class="txk " + (' orangetxk' if form.card_number.errors | length > 0 else '')) }}
                <em class="warn">持卡人必须与注册领队时的身份证所有者一致。</em>
                {% for error in form.card_number.errors %}
                    <em class="mistake">{{ error }}</em>
                {% endfor %}
            </div>
            <div class="line">
                <label>{{ form.id_card_number.label }}</label>
                {{ form.id_card_number(class="txk" + (' orangetxk' if form.id_card_number.errors | length > 0 else '')) }}
                <em class="warn">注册领队时所留身份证号</em>
                {% for error in form.id_card_number.errors %}
                    <em class="mistake">{{ error }}</em>
                {% endfor %}
            </div>
            <div class="line">
                <label>{{ form.name.label }}</label>
                {{ form.name(class="txk" + (' orangetxk' if form.name.errors | length > 0 else '')) }}
                <em class="warn">注册领队时所使用姓名</em>
                {% for error in form.name.errors %}
                    <em class="mistake">{{ error }}</em>
                {% endfor %}
            </div>
            <div class="line">
                <label>所属地区</label>
                {{ form.province(class="txk small province") }}
                {{ form.city(class="txk small city") }}
                <em class="warn">银行卡所属省/市</em>
            </div>
            <div class="line">
                <label>{{ form.subbranch_name.label }}</label>
                {{ form.subbranch_name(class="txk" + (' orangetxk' if form.subbranch_name.errors | length > 0 else '')) }}
                <em class="warn">银行卡的开户支行名称</em>
                {% for error in form.subbranch_name.errors %}
                    <em class="mistake">{{ error }}</em>
                {% endfor %}
            </div>
            <div class="line">
                <label>{{ form.identifying_code.label }}</label>
                {{ form.identifying_code(class="txk small" + (' orangetxk' if form.identifying_code.errors | length > 0 else '')) }}
                <button class="hqyzm">获取验证码</button>
                <em class="identifying-code warn"></em>
                {% for error in form.identifying_code.errors %}
                    <em class="mistake">{{ error }}</em>
                {% endfor %}
            </div>
            <div class="line">
                {{ form.submit(class="tijiao firsttj") }}
            </div>
        </form>
    </div>
{% endblock %}