{% extends 'layout.html' %}
{% block title %}提现{% endblock %}
{% block inline_css %}
    <link href="{{ url_for('static', filename='css/withdraw.css') }}" rel="stylesheet">
{% endblock %}
{% block inline_scripts %}
    <script src="{{ url_for('static', filename='js/verification-code.js') }}"></script>
    <script src="{{ url_for('static', filename='js/withdraw.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="contRight payoffRight firstRight txRight">
        {% include 'message.html' %}
        <h2 class="withdraw">提现</h2>

        <div class="line firstline">
            <label>账户余额</label><span class="money">{{ balance }} 元</span>
        </div>
        <form class="withdraw" method="post" action="{{ url_for('.withdraw') }}">
            {{ form.csrf_token }}
            <div class="line clearfix">
                <label>提现银行卡</label>
                <div class="cardInform">
                    {{ form.bankcard(id="selected_bankcard") }}
                    <div class="bankcard">
                        <div class="line1 clearfix">
                            <img class="bankIcon" src="{{ url_for('static', filename=selected_card['bank_name'] | toBankLogo) }}" />
                            <p class="bankinds">
                                <span class="bankname">{{ selected_card['bank_name'] }}</span>
                                <br><em>储蓄卡</em>
                            </p>
                        </div>
                        <div class="cardNum">{{ selected_card['card_no'] | toBankcardMask }}</div>
                    </div>
                    <em class="choiceblue">选择其他银行卡</em>
                </div>
                <div class="linkform">
                    <b style="font-weight:normal;">提现银行卡暂不支持解除绑定。<br>如需解除绑定，请联系绿野领队服务客服。</b>

                    <p class="pa">
                        <span><em class="phone"></em>3212682214</span>
                        <span><em class=""></em>010-84437828-8044</span>
                    </p>
                </div>
            </div>
            {% from 'forms.html' import input, verification_code_and_submit, submit %}
            {{ input(form.amount, "每天第一笔免费，更多提现每笔收取手续费2元") }}
            {{ verification_code_and_submit(form) }}
        </form>
    </div>
{% endblock %}

{% block popup %}
    <!--S遮罩层-->
    <div class="bgLayer"></div>
    <!--E遮罩层-->
    <div class="choiceLayer">
        <h2>选择银行卡：</h2>
        <ul class="kindsCard clearfix">
            {% for card in bankcards %}
                <li class="{{ 'cur' if card['id'] == form.bankcard.data else '' }}">
                    <div class="bankcard">
                        <input class="cardId" type="hidden" value="{{ card['id'] }}"/>
                        <div class="line1 clearfix">
                            <img class="bankIcon" src="{{ url_for('static', filename=card['bank_name'] | toBankLogo) }}" />
                            <p class="bankinds"><span class="bankname">{{ card['bank_name'] }}</span><br><i>储蓄卡</i></p>
                        </div>
                        <div class="cardNum">{{ card['card_no'] | toBankcardMask}}</div>
                    </div>
                    <em></em>
                </li>
            {% endfor %}
            <li>
                <a href="{{ url_for('.bind_card') }}">
                    <img src="{{ url_for('static', filename='images/bind_card.jpg') }}" width="266" height="152"/>
                </a>
            </li>
        </ul>
        <span class="stepBtn">下一步</span>
        <a href="###" class="close"></a>
    </div>
{% endblock %}