{% extends 'layout.html' %}
{% block title %}付款给绿野{% endblock %}
{% block inline_css %}
{% endblock %}
{% block inline_scripts %}
    <script src="{{ url_for('static', filename='js/pay.js') }}"></script>
{% endblock %}

{% block content %}
    <form class="pay-form" action="{{ url_for('.pay') }}" method="post">
        <div class="contRight payoffRight">
            {% include 'message.html' %}

            <h2>付款给绿野</h2>

            <div class="line">
                <label>付款金额(元)</label>
                <input type="text" value="" placeholder="180000" class="txk">
            </div>
            <div class="line">
                <label>选择付款方式</label>
                <input type="radio" name="choice" class="dx" checked="checked">
                <span>账户余额支付</span>
                <input type="radio" name="choice" class="dx"><span>银行卡支付</span>
            </div>
            <div class="line last">
                <label>支付备注</label>

                <div class="beizhu">
                    <textarea class="wbk"
                              placeholder="请输入付款备注，方便绿野客服人员确认您的支付信息。（不超过xx字）一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十"></textarea>
                    <input type="submit" value="提交" class="tijiao tijiaoLayer">
                </div>
            </div>
        </div>
        <!--S遮罩层-->
        <div class="bgLayer"></div>
        <!--E遮罩层-->
        <div class="confirm">
            <h2>确认付款给绿野</h2>

            <div class="finaline">
                <label>付款金额(元)</label><span>18,000.00 元</span>
            </div>
            <div class="finaline clearfix">
                <label>付款备注</label>

                <p class="bz">
                    2015年4月包车费用+广告费，共计18万元。2015年4月包车费用+广告费，共计18万元2015年4月包车费用+广告费，共计18万元2015年4月包车费用+广告费，共计18万元2015年4月包车费用+广告费，共计18万元2015年4月包车费用+广告费，共计18万元2015年4月包车费用+广告费，共计18万元</p>
            </div>
            <div class="finaline">
                <button>确认</button>
            </div>
            <a href="###" class="close"></a>
        </div>
    </form>
{% endblock %}