{% extends 'layout.html' %}
{% block title %}我的自游通{% endblock %}

{% block content %}
    <div class="contRight payoffRight firstRight">
        {% include 'message.html' %}
        <h2 class="first">账户信息</h2>
        <div class="line firstline margin48">
            <label class="widthauto">可用余额</label><span class="money">{{ res.balance }}</span>
        </div>
        <p class="tit margin48">收支记录</p>
      <div class="tabtit margin48 clearfix">
            <ul>
                <li class="cur">全部</li><li>收入</li><li>支出</li><li>提现</li>
            </ul>

        <div class="search">
                <input type="text" placeholder="交易单号, 活动id" class="txk" />
                <button>查找</button>
            </div>

      </div>


        <div class="tablock margin48 tablockcur">
          <table width="952" cellspacing="0" cellpadding="0">
              <tr class="first">
                  <td width="145" height="40">发生时间</td>
                  <td width="127">交易单号</td>
                  <td width="134">类型</td>
                  <td width="87">收入(元)</td>
                  <td width="87">支出(元)</td>
                  <td width="100">对方</td>
                  <td width="270">备注</td>
              </tr>
              {% for record in res.records %}
                  {% set is_income = record.side == 'CREDIT' %}
                  {% set info = res.record_info[record.source_id] %}
                  <tr>
                      <td width="145" height="60">{{ record.created_on }}</td>
                      <td>{{ record.source_id }}</td>
                      <td>{{ record.type }}</td>
                      {% if is_income %}
                          <td class="red">+ {{ "%.2f"|format(record.amount) }}</td>
                          <td></td>
                      {% else %}
                          <td></td>
                          <td class="green">- {{ "%.2f"|format(record.amount) }}</td>
                      {% endif %}
                      <td>{{ record.opposite }}</td>
                      <td>{{ record.trade_info }}</td>
                  </tr>
              {% endfor %}
          </table>
        </div>

        <div class="tablock margin48">
          <table width="952" cellspacing="0" cellpadding="0">
              <tr class="first">
                <td width="145" height="40">交易时间</td>
                <td width="74">交易类型</td>
                <td width="127">交易单号</td>
                <td width="99">交易金额(元)</td>
                <td width="74">状态</td>
                <td width="135">来源</td>
                <td width="296">交易名称</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
          </table>
        </div>

        <div class="tablock margin48">
          <table width="952" cellspacing="0" cellpadding="0">
              <tr class="first">
                <td width="145" height="40">交易时间</td>
                <td width="74">交易类型</td>
                <td width="127">交易单号</td>
                <td width="99">交易金额(元)</td>
                <td width="74">状态</td>
                <td width="135">来源</td>
                <td width="296">交易名称</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
          </table>
        </div>

        <div class="tablock margin48">
          <table width="952" cellspacing="0" cellpadding="0">
              <tr class="first">
                <td width="145" height="40">交易时间</td>
                <td width="74">交易类型</td>
                <td width="127">交易单号</td>
                <td width="99">交易金额(元)</td>
                <td width="74">状态</td>
                <td width="135">来源</td>
                <td width="296">交易名称</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>已完成</td>
                <td>活动结算</td>
                <td><a href="#" target="_blank" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>提现</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>进行中</td>
                <td>提现</td>
                <td>提现到银行卡</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>支出</td>
                <td>td1234567890</td>
                <td class="green">- 5000.00</td>
                <td>已完成</td>
                <td>付款给绿野</td>
                <td>备注：广告费</td>
            </tr>
              <tr>
                <td width="145" height="60">2015-06-25 02:45:59</td>
                <td>收入</td>
                <td>td1234567890</td>
                <td class="red">+ 2000.00</td>
                <td>进行中</td>
                <td>绿野活动结算</td>
                <td><a href="###" target="" title="">【端午】漫步达里诺尔湖-勃隆克玉龙沙湖—走进醉美锡林郭勒草原天堂“万物生长”拍摄</a></td>
            </tr>
          </table>
        </div>


        <div class="page">
            <p class="suml">共 200 条，每页 20 条</p>
            <p class="pageNum">
                <a class="long" href="###" target="_blank" title="">上一页</a>
                <a href="###" target="_blank">1</a>
                <a href="###" target="_blank">2</a>
                …
                <a href="###" target="_blank">4</a>
                <a href="###" target="_blank">5</a>
                <a class="long" href="###" target="_blank" title="">下一页</a>
            </p>
        </div>
  </div>
{% endblock %}

{% block inline_scripts %}
    <script>
    </script>
{% endblock %}

