{% extends 'layout.html' %}
{% block title %}我的自游通{% endblock %}

{% block content %}
    <div class="contRight payoffRight firstRight">
        {% include 'message.html' %}
        <h2 class="first">账户信息</h2>
        <div class="line firstline margin48">
            <label class="widthauto">可用余额</label><span id="balance" class="money">0.00&nbsp;元</span>
        </div>
        <p class="tit margin48">交易记录</p>


        <div id="tx_list">
        </div>
  </div>
{% endblock %}

{% block inline_scripts %}
    <script src="{{ url_for('static', filename='js/transaction_list.js') }}"></script>
{% endblock %}

