{% macro tx_list(txs, count, page_no, page_size, page_count) -%}
    <div class="tablock margin48 tablockcur">
        <table width="952" cellspacing="0" cellpadding="0">
            <tr class="first">
                <td width="70" height="40">发生时间</td>
                <td width="100" height="40">交易流水号</td>
                <td width="80">类型</td>
                <td width="87">金额(元)</td>
                <td width="120">状态</td>
                <td width="270">交易名称</td>
            </tr>
            {% for tx in txs %}
                <tr>
                    <td width="70" height="60">{{ tx.created_on }}</td>
                    <td width="100" height="40">{{ tx.sn }}</td>
                    <td>{{ tx.type }}</td>
                    {% if tx.is_failed %}
                        <td class="grey">{{ "+%.2f"|format(tx.amount) }}</td>
                    {% elif tx.role == 'TO' %}
                        <td class="red">{{ "+%.2f"|format(tx.amount) }}</td>
                    {% elif tx.role == 'FROM' %}
                        <td class="green">{{ "-%.2f"|format(tx.amount) }}</td>
                    {% else %}
                        <td>{{ "%.2f"|format(tx.amount) }}</td>
                    {% endif %}
                    <td>{{ tx.state }}</td>
                    <td>{{ tx.comments }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="tx_list_pager" class="page" data-page-no="{{ page_no }}" data-page-count="{{ page_count }}">
        <p class="suml">共 {{ count }} 条，每页 {{ page_size }} 条, 第 {{ page_no }}/{{ page_count }} 页</p>
        <p class="pageNum">
            <a id="tx_list_first" class="long" href="javascript:void(0)" title="">首页</a>
            <a id="tx_list_prev" class="long" href="javascript:void(0)" title="">上一页</a>
            <a id="tx_list_next" class="long" href="javascript:void(0)" title="">下一页</a>
            <a id="tx_list_last" class="long" href="javascript:void(0)" title="">末页</a>
        </p>
    </div>
{%- endmacro %}
