body{
    font-family: Georgia,"Times New Roman",Times,serif, "楷体"	KaiTi \6977\4F53, "华文楷体" STKaiti \534E\6587\6977\4F53 ;
}
form input, form label, form textarea, form select{
    font-family: "楷体"	KaiTi \6977\4F53, "华文楷体" STKaiti \534E\6587\6977\4F53 ;
    font-size: 15px !important;
}
form input, form label, form select{
    line-height: 20px;
}

.not-implement-yet{
    display: none !important;
}
.inline-box{
    display: inline-block;
}
input[type=radio]{
    vertical-align: inherit;
}

form .title{
    font-weight: bold;
}