<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
</head>
<body>
    <ul>
        <li>
            <form action="/sample/pay" method="POST">
                <input type="submit" value="支付 0.01元" />
            </form>
        </li>
        <li>
            <input type="button" id="bankcardQuery" value="查询银行卡 [4391 8805 0617 6647]" />
        </li>
    </ul>
    <script>
        $(document).ready(function() {
            $("#bankcardQuery").click(function(event) {
                var button = $(event.target);
                var markedText = button.val();
                var cardNo = markedText.substring(markedText.indexOf('[') + 1, markedText.length - 1);
                cardNo = cardNo.replace(/\s/g, '');
                $.getJSON('/sample/bankcard/' + cardNo + '/bin', function(result) {
                    console.log(result);
                });
            })
        });
    </script>
</body>
</html>